<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>base 2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,856},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,764},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,602},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,440},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,278},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,856},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,856},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,764},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,602},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,440},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,278},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,186},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,186},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,186},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,186},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,742},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,580},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,418},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,256},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,94},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,94},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,94},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,94},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,94},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,904},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,742},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,580},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,418},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,256},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,94},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>base 2_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explosion.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5148dcd50749771a1fe5ff8a55e31096$</string>
            <key>textureFileName</key>
            <string>explosion.png</string>
        </dict>
    </dict>
</plist>
