<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{464,510},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{70,793},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,73}</string>
                <key>spriteSourceSize</key>
                <string>{126,73}</string>
                <key>textureRect</key>
                <string>{{372,646},{126,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,73}</string>
                <key>spriteSourceSize</key>
                <string>{126,73}</string>
                <key>textureRect</key>
                <string>{{514,806},{126,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,73}</string>
                <key>spriteSourceSize</key>
                <string>{126,73}</string>
                <key>textureRect</key>
                <string>{{743,692},{126,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,73}</string>
                <key>spriteSourceSize</key>
                <string>{126,73}</string>
                <key>textureRect</key>
                <string>{{760,499},{126,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,73}</string>
                <key>spriteSourceSize</key>
                <string>{126,73}</string>
                <key>textureRect</key>
                <string>{{760,574},{126,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,73}</string>
                <key>spriteSourceSize</key>
                <string>{126,73}</string>
                <key>textureRect</key>
                <string>{{704,840},{126,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,73}</string>
                <key>spriteSourceSize</key>
                <string>{126,73}</string>
                <key>textureRect</key>
                <string>{{779,820},{126,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{218,782},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{612,544},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{447,658},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{595,692},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{366,806},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{728,351},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,116}</string>
                <key>spriteSourceSize</key>
                <string>{428,116}</string>
                <key>textureRect</key>
                <string>{{70,363},{428,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,110}</string>
                <key>spriteSourceSize</key>
                <string>{20,110}</string>
                <key>textureRect</key>
                <string>{{818,689},{20,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_road.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,182}</string>
                <key>spriteSourceSize</key>
                <string>{134,182}</string>
                <key>textureRect</key>
                <string>{{188,646},{134,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_road2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{610,67}</string>
                <key>spriteSourceSize</key>
                <string>{610,67}</string>
                <key>textureRect</key>
                <string>{{1,363},{610,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_lvup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,148}</string>
                <key>spriteSourceSize</key>
                <string>{159,148}</string>
                <key>textureRect</key>
                <string>{{464,360},{159,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinbg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,16}</string>
                <key>spriteSourceSize</key>
                <string>{27,16}</string>
                <key>textureRect</key>
                <string>{{514,934},{27,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantouheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{862,257},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantoushu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{862,281},{22,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lv_sp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{123,50}</string>
                <key>spriteSourceSize</key>
                <string>{123,52}</string>
                <key>textureRect</key>
                <string>{{830,1},{123,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>muchangpai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,58}</string>
                <key>textureRect</key>
                <string>{{788,257},{72,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>saoguang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,397}</string>
                <key>spriteSourceSize</key>
                <string>{235,397}</string>
                <key>textureRect</key>
                <string>{{431,1},{235,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sp_hua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,101}</string>
                <key>spriteSourceSize</key>
                <string>{182,101}</string>
                <key>textureRect</key>
                <string>{{625,360},{182,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,113}</string>
                <key>spriteSourceSize</key>
                <string>{94,113}</string>
                <key>textureRect</key>
                <string>{{589,840},{94,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suo_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,38}</string>
                <key>spriteSourceSize</key>
                <string>{106,38}</string>
                <key>textureRect</key>
                <string>{{760,649},{106,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{129,44}</string>
                <key>spriteSourceSize</key>
                <string>{323,60}</string>
                <key>textureRect</key>
                <string>{{830,126},{129,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{281,44}</string>
                <key>spriteSourceSize</key>
                <string>{323,60}</string>
                <key>textureRect</key>
                <string>{{188,363},{281,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{281,44}</string>
                <key>spriteSourceSize</key>
                <string>{323,60}</string>
                <key>textureRect</key>
                <string>{{431,268},{281,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{281,44}</string>
                <key>spriteSourceSize</key>
                <string>{323,60}</string>
                <key>textureRect</key>
                <string>{{234,363},{281,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{281,44}</string>
                <key>spriteSourceSize</key>
                <string>{323,60}</string>
                <key>textureRect</key>
                <string>{{431,314},{281,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{281,44}</string>
                <key>spriteSourceSize</key>
                <string>{323,60}</string>
                <key>textureRect</key>
                <string>{{280,363},{281,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{281,44}</string>
                <key>spriteSourceSize</key>
                <string>{323,60}</string>
                <key>textureRect</key>
                <string>{{326,363},{281,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{281,44}</string>
                <key>spriteSourceSize</key>
                <string>{323,60}</string>
                <key>textureRect</key>
                <string>{{372,363},{281,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{281,44}</string>
                <key>spriteSourceSize</key>
                <string>{323,60}</string>
                <key>textureRect</key>
                <string>{{418,363},{281,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_jiesuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,30}</string>
                <key>spriteSourceSize</key>
                <string>{117,30}</string>
                <key>textureRect</key>
                <string>{{70,941},{117,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_jisuotj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,28}</string>
                <key>spriteSourceSize</key>
                <string>{342,28}</string>
                <key>textureRect</key>
                <string>{{431,238},{342,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohuahua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,21}</string>
                <key>spriteSourceSize</key>
                <string>{36,21}</string>
                <key>textureRect</key>
                <string>{{728,499},{36,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiaomutou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,34}</string>
                <key>spriteSourceSize</key>
                <string>{47,34}</string>
                <key>textureRect</key>
                <string>{{840,689},{47,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yangyang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,72}</string>
                <key>spriteSourceSize</key>
                <string>{81,72}</string>
                <key>textureRect</key>
                <string>{{714,268},{81,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yindao_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,360}</string>
                <key>spriteSourceSize</key>
                <string>{428,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{428,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>box.png</string>
            <key>size</key>
            <string>{887,974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a34a03a8cf80bf8c3af9b736d0553cf6:5878fc05a0d6d4e4833fde36fc1de1cb:e7d5df088989fd73d4e1ab6d0183848c$</string>
            <key>textureFileName</key>
            <string>box.png</string>
        </dict>
    </dict>
</plist>
