<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{510,510},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{671,371},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,73}</string>
                <key>spriteSourceSize</key>
                <string>{126,73}</string>
                <key>textureRect</key>
                <string>{{819,371},{126,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,73}</string>
                <key>spriteSourceSize</key>
                <string>{126,73}</string>
                <key>textureRect</key>
                <string>{{382,646},{126,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,73}</string>
                <key>spriteSourceSize</key>
                <string>{126,73}</string>
                <key>textureRect</key>
                <string>{{753,667},{126,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,73}</string>
                <key>spriteSourceSize</key>
                <string>{126,73}</string>
                <key>textureRect</key>
                <string>{{598,815},{126,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,73}</string>
                <key>spriteSourceSize</key>
                <string>{126,73}</string>
                <key>textureRect</key>
                <string>{{598,890},{126,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,73}</string>
                <key>spriteSourceSize</key>
                <string>{126,73}</string>
                <key>textureRect</key>
                <string>{{726,815},{126,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,73}</string>
                <key>spriteSourceSize</key>
                <string>{126,73}</string>
                <key>textureRect</key>
                <string>{{806,519},{126,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{658,519},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{234,646},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{206,794},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{457,658},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{605,667},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{354,806},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,116}</string>
                <key>spriteSourceSize</key>
                <string>{428,116}</string>
                <key>textureRect</key>
                <string>{{70,363},{428,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,110}</string>
                <key>spriteSourceSize</key>
                <string>{20,110}</string>
                <key>textureRect</key>
                <string>{{876,1},{20,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_road.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,182}</string>
                <key>spriteSourceSize</key>
                <string>{134,182}</string>
                <key>textureRect</key>
                <string>{{70,793},{134,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_road2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{610,67}</string>
                <key>spriteSourceSize</key>
                <string>{610,67}</string>
                <key>textureRect</key>
                <string>{{1,363},{610,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_lvup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,148}</string>
                <key>spriteSourceSize</key>
                <string>{159,148}</string>
                <key>textureRect</key>
                <string>{{510,360},{159,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinbg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,16}</string>
                <key>spriteSourceSize</key>
                <string>{27,16}</string>
                <key>textureRect</key>
                <string>{{325,942},{27,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantouheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{775,238},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantoushu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{841,844},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv_sp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{123,50}</string>
                <key>spriteSourceSize</key>
                <string>{123,52}</string>
                <key>textureRect</key>
                <string>{{828,647},{123,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>muchang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,20}</string>
                <key>spriteSourceSize</key>
                <string>{45,20}</string>
                <key>textureRect</key>
                <string>{{876,113},{45,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>muchangpai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,58}</string>
                <key>textureRect</key>
                <string>{{502,921},{72,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>saoguang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,397}</string>
                <key>spriteSourceSize</key>
                <string>{235,397}</string>
                <key>textureRect</key>
                <string>{{431,1},{235,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengjikuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,44}</string>
                <key>spriteSourceSize</key>
                <string>{261,44}</string>
                <key>textureRect</key>
                <string>{{830,1},{261,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sp_hua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,101}</string>
                <key>spriteSourceSize</key>
                <string>{182,101}</string>
                <key>textureRect</key>
                <string>{{714,268},{182,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,113}</string>
                <key>spriteSourceSize</key>
                <string>{94,113}</string>
                <key>textureRect</key>
                <string>{{502,806},{94,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suo_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,38}</string>
                <key>spriteSourceSize</key>
                <string>{106,38}</string>
                <key>textureRect</key>
                <string>{{801,795},{106,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{129,44}</string>
                <key>spriteSourceSize</key>
                <string>{323,60}</string>
                <key>textureRect</key>
                <string>{{188,648},{129,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{281,44}</string>
                <key>spriteSourceSize</key>
                <string>{323,60}</string>
                <key>textureRect</key>
                <string>{{431,268},{281,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{281,44}</string>
                <key>spriteSourceSize</key>
                <string>{323,60}</string>
                <key>textureRect</key>
                <string>{{234,363},{281,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{281,44}</string>
                <key>spriteSourceSize</key>
                <string>{323,60}</string>
                <key>textureRect</key>
                <string>{{431,314},{281,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{281,44}</string>
                <key>spriteSourceSize</key>
                <string>{323,60}</string>
                <key>textureRect</key>
                <string>{{280,363},{281,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{281,44}</string>
                <key>spriteSourceSize</key>
                <string>{323,60}</string>
                <key>textureRect</key>
                <string>{{326,363},{281,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{281,44}</string>
                <key>spriteSourceSize</key>
                <string>{323,60}</string>
                <key>textureRect</key>
                <string>{{372,363},{281,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{281,44}</string>
                <key>spriteSourceSize</key>
                <string>{323,60}</string>
                <key>textureRect</key>
                <string>{{418,363},{281,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{281,44}</string>
                <key>spriteSourceSize</key>
                <string>{323,60}</string>
                <key>textureRect</key>
                <string>{{464,360},{281,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{283,44}</string>
                <key>spriteSourceSize</key>
                <string>{323,60}</string>
                <key>textureRect</key>
                <string>{{188,363},{283,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_jiesuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,30}</string>
                <key>spriteSourceSize</key>
                <string>{117,30}</string>
                <key>textureRect</key>
                <string>{{206,942},{117,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_jisuotj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,28}</string>
                <key>spriteSourceSize</key>
                <string>{342,28}</string>
                <key>textureRect</key>
                <string>{{431,238},{342,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohuahua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,21}</string>
                <key>spriteSourceSize</key>
                <string>{36,21}</string>
                <key>textureRect</key>
                <string>{{828,772},{36,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaomutou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,34}</string>
                <key>spriteSourceSize</key>
                <string>{47,34}</string>
                <key>textureRect</key>
                <string>{{841,795},{47,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yangyang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,72}</string>
                <key>spriteSourceSize</key>
                <string>{81,72}</string>
                <key>textureRect</key>
                <string>{{801,903},{81,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yindao_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,360}</string>
                <key>spriteSourceSize</key>
                <string>{428,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{428,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>box.png</string>
            <key>size</key>
            <string>{897,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43cb5d649024d5b87c9a6d645495faf4:a92a330d51926e9b9c5c165744fab4db:e7d5df088989fd73d4e1ab6d0183848c$</string>
            <key>textureFileName</key>
            <string>box.png</string>
        </dict>
    </dict>
</plist>
