<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,65}</string>
                <key>spriteSourceSize</key>
                <string>{64,65}</string>
                <key>textureRect</key>
                <string>{{224,862},{64,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{234,109},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_toast.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,58}</string>
                <key>spriteSourceSize</key>
                <string>{293,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{293,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,58}</string>
                <key>spriteSourceSize</key>
                <string>{92,58}</string>
                <key>textureRect</key>
                <string>{{335,546},{92,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,106}</string>
                <key>spriteSourceSize</key>
                <string>{98,106}</string>
                <key>textureRect</key>
                <string>{{296,1},{98,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{56,68}</string>
                <key>textureRect</key>
                <string>{{338,432},{56,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{209,949},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,45}</string>
                <key>spriteSourceSize</key>
                <string>{221,45}</string>
                <key>textureRect</key>
                <string>{{1,855},{221,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,45}</string>
                <key>spriteSourceSize</key>
                <string>{221,45}</string>
                <key>textureRect</key>
                <string>{{1,902},{221,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,54}</string>
                <key>spriteSourceSize</key>
                <string>{152,54}</string>
                <key>textureRect</key>
                <string>{{234,271},{152,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonfenn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,55}</string>
                <key>spriteSourceSize</key>
                <string>{102,55}</string>
                <key>textureRect</key>
                <string>{{234,420},{102,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonhuang01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,79}</string>
                <key>spriteSourceSize</key>
                <string>{223,79}</string>
                <key>textureRect</key>
                <string>{{234,590},{223,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonhuang02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,79}</string>
                <key>spriteSourceSize</key>
                <string>{223,79}</string>
                <key>textureRect</key>
                <string>{{315,640},{223,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,55}</string>
                <key>spriteSourceSize</key>
                <string>{102,55}</string>
                <key>textureRect</key>
                <string>{{234,477},{102,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonlan01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,79}</string>
                <key>spriteSourceSize</key>
                <string>{223,79}</string>
                <key>textureRect</key>
                <string>{{1,612},{223,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonlan02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,79}</string>
                <key>spriteSourceSize</key>
                <string>{223,79}</string>
                <key>textureRect</key>
                <string>{{1,693},{223,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonlan03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,79}</string>
                <key>spriteSourceSize</key>
                <string>{223,79}</string>
                <key>textureRect</key>
                <string>{{1,774},{223,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{356,327},{37,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,34}</string>
                <key>textureRect</key>
                <string>{{356,366},{38,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mianban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,45}</string>
                <key>spriteSourceSize</key>
                <string>{77,45}</string>
                <key>textureRect</key>
                <string>{{226,815},{77,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{356,402},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{234,61},{41,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,54}</string>
                <key>spriteSourceSize</key>
                <string>{99,54}</string>
                <key>textureRect</key>
                <string>{{234,534},{99,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengji2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,62}</string>
                <key>spriteSourceSize</key>
                <string>{47,62}</string>
                <key>textureRect</key>
                <string>{{253,928},{47,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengjikuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,44}</string>
                <key>spriteSourceSize</key>
                <string>{206,44}</string>
                <key>textureRect</key>
                <string>{{1,949},{206,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tanchukuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,120}</string>
                <key>spriteSourceSize</key>
                <string>{91,120}</string>
                <key>textureRect</key>
                <string>{{234,327},{91,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{340,865},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongyongkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{549,231}</string>
                <key>spriteSourceSize</key>
                <string>{549,231}</string>
                <key>textureRect</key>
                <string>{{1,61},{549,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>video.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{338,502},{42,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wenziditu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,47}</string>
                <key>spriteSourceSize</key>
                <string>{50,47}</string>
                <key>textureRect</key>
                <string>{{291,865},{50,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{388,271},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{395,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8075841408fd9120d8955a987ae8d38e:5e89c8270a1254365b123f9f86d9c02b:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
