<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,65}</string>
                <key>spriteSourceSize</key>
                <string>{64,65}</string>
                <key>textureRect</key>
                <string>{{372,720},{64,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{234,140},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_toast.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,58}</string>
                <key>spriteSourceSize</key>
                <string>{293,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{293,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,58}</string>
                <key>spriteSourceSize</key>
                <string>{92,58}</string>
                <key>textureRect</key>
                <string>{{342,377},{92,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,106}</string>
                <key>spriteSourceSize</key>
                <string>{98,106}</string>
                <key>textureRect</key>
                <string>{{234,358},{98,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{56,68}</string>
                <key>textureRect</key>
                <string>{{372,662},{56,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{396,198},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,45}</string>
                <key>spriteSourceSize</key>
                <string>{221,45}</string>
                <key>textureRect</key>
                <string>{{65,612},{221,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,45}</string>
                <key>spriteSourceSize</key>
                <string>{221,45}</string>
                <key>textureRect</key>
                <string>{{325,662},{221,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,54}</string>
                <key>spriteSourceSize</key>
                <string>{152,54}</string>
                <key>textureRect</key>
                <string>{{234,302},{152,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonfenn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,55}</string>
                <key>spriteSourceSize</key>
                <string>{102,55}</string>
                <key>textureRect</key>
                <string>{{234,458},{102,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonhuang01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,79}</string>
                <key>spriteSourceSize</key>
                <string>{223,79}</string>
                <key>textureRect</key>
                <string>{{342,437},{223,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonhuang02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,79}</string>
                <key>spriteSourceSize</key>
                <string>{223,79}</string>
                <key>textureRect</key>
                <string>{{1,662},{223,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,55}</string>
                <key>spriteSourceSize</key>
                <string>{102,55}</string>
                <key>textureRect</key>
                <string>{{234,515},{102,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonlan01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,79}</string>
                <key>spriteSourceSize</key>
                <string>{223,79}</string>
                <key>textureRect</key>
                <string>{{82,662},{223,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonlan02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,79}</string>
                <key>spriteSourceSize</key>
                <string>{223,79}</string>
                <key>textureRect</key>
                <string>{{163,662},{223,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonlan03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,79}</string>
                <key>spriteSourceSize</key>
                <string>{223,79}</string>
                <key>textureRect</key>
                <string>{{244,662},{223,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{396,289},{37,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,34}</string>
                <key>textureRect</key>
                <string>{{234,572},{38,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mianban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,45}</string>
                <key>spriteSourceSize</key>
                <string>{77,45}</string>
                <key>textureRect</key>
                <string>{{288,572},{77,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{234,61},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{396,242},{41,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,54}</string>
                <key>spriteSourceSize</key>
                <string>{99,54}</string>
                <key>textureRect</key>
                <string>{{372,786},{99,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengji2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,62}</string>
                <key>spriteSourceSize</key>
                <string>{47,62}</string>
                <key>textureRect</key>
                <string>{{1,612},{47,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengjikuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,44}</string>
                <key>spriteSourceSize</key>
                <string>{206,44}</string>
                <key>textureRect</key>
                <string>{{234,94},{206,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tanchukuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,120}</string>
                <key>spriteSourceSize</key>
                <string>{91,120}</string>
                <key>textureRect</key>
                <string>{{296,1},{91,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongyongkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{549,231}</string>
                <key>spriteSourceSize</key>
                <string>{549,231}</string>
                <key>textureRect</key>
                <string>{{1,61},{549,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>video.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{396,140},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenziditu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,47}</string>
                <key>spriteSourceSize</key>
                <string>{50,47}</string>
                <key>textureRect</key>
                <string>{{388,328},{50,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{418,1},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{441,886}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d022f4e0c3d81875bc1ac7d65221367:d100a1355d9e23f34a983128d5a54d42:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
