<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beibao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,29}</string>
                <key>spriteSourceSize</key>
                <string>{56,29}</string>
                <key>textureRect</key>
                <string>{{137,221},{56,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaotimuyangquan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,45}</string>
                <key>spriteSourceSize</key>
                <string>{128,45}</string>
                <key>textureRect</key>
                <string>{{1,183},{128,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chongwujindutiaokuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,20}</string>
                <key>spriteSourceSize</key>
                <string>{134,20}</string>
                <key>textureRect</key>
                <string>{{1,230},{134,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chongwuxiangqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,35}</string>
                <key>spriteSourceSize</key>
                <string>{132,35}</string>
                <key>textureRect</key>
                <string>{{198,112},{132,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cwjindutiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,18}</string>
                <key>spriteSourceSize</key>
                <string>{132,18}</string>
                <key>textureRect</key>
                <string>{{171,149},{132,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dikuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,39}</string>
                <key>spriteSourceSize</key>
                <string>{85,39}</string>
                <key>textureRect</key>
                <string>{{403,1},{85,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gexing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,19}</string>
                <key>spriteSourceSize</key>
                <string>{49,19}</string>
                <key>textureRect</key>
                <string>{{319,230},{49,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gexing02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,23}</string>
                <key>spriteSourceSize</key>
                <string>{57,23}</string>
                <key>textureRect</key>
                <string>{{366,205},{57,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gkspjs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,20}</string>
                <key>spriteSourceSize</key>
                <string>{124,20}</string>
                <key>textureRect</key>
                <string>{{166,169},{124,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goumai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,28}</string>
                <key>spriteSourceSize</key>
                <string>{56,28}</string>
                <key>textureRect</key>
                <string>{{195,221},{56,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,18}</string>
                <key>spriteSourceSize</key>
                <string>{140,18}</string>
                <key>textureRect</key>
                <string>{{231,92},{140,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guankanci.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,16}</string>
                <key>spriteSourceSize</key>
                <string>{118,16}</string>
                <key>textureRect</key>
                <string>{{489,42},{118,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guomaici.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,20}</string>
                <key>spriteSourceSize</key>
                <string>{80,20}</string>
                <key>textureRect</key>
                <string>{{297,169},{80,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuoyinqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{39,41}</string>
                <key>textureRect</key>
                <string>{{332,112},{39,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manwenzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,17}</string>
                <key>spriteSourceSize</key>
                <string>{374,17}</string>
                <key>textureRect</key>
                <string>{{1,73},{374,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mcsyjc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,26}</string>
                <key>spriteSourceSize</key>
                <string>{168,26}</string>
                <key>textureRect</key>
                <string>{{1,136},{168,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mianfeigoumaici.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,20}</string>
                <key>spriteSourceSize</key>
                <string>{121,20}</string>
                <key>textureRect</key>
                <string>{{319,158},{121,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nicheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,19}</string>
                <key>spriteSourceSize</key>
                <string>{49,19}</string>
                <key>textureRect</key>
                <string>{{370,230},{49,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nicheng02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,23}</string>
                <key>spriteSourceSize</key>
                <string>{57,23}</string>
                <key>textureRect</key>
                <string>{{442,158},{57,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,19}</string>
                <key>spriteSourceSize</key>
                <string>{49,19}</string>
                <key>textureRect</key>
                <string>{{421,230},{49,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinji02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,23}</string>
                <key>spriteSourceSize</key>
                <string>{57,23}</string>
                <key>textureRect</key>
                <string>{{467,162},{57,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>putongchouka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,28}</string>
                <key>spriteSourceSize</key>
                <string>{118,28}</string>
                <key>textureRect</key>
                <string>{{131,191},{118,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenquanchouka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,28}</string>
                <key>spriteSourceSize</key>
                <string>{119,28}</string>
                <key>textureRect</key>
                <string>{{368,42},{119,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shiyongzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,23}</string>
                <key>spriteSourceSize</key>
                <string>{61,23}</string>
                <key>textureRect</key>
                <string>{{366,180},{61,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouyijiacheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,19}</string>
                <key>spriteSourceSize</key>
                <string>{91,19}</string>
                <key>textureRect</key>
                <string>{{373,137},{91,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouyijiacheng02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,23}</string>
                <key>spriteSourceSize</key>
                <string>{106,23}</string>
                <key>textureRect</key>
                <string>{{377,72},{106,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{253,191},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,17}</string>
                <key>spriteSourceSize</key>
                <string>{163,17}</string>
                <key>textureRect</key>
                <string>{{1,164},{163,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,17}</string>
                <key>spriteSourceSize</key>
                <string>{228,17}</string>
                <key>textureRect</key>
                <string>{{1,92},{228,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,34}</string>
                <key>spriteSourceSize</key>
                <string>{400,34}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,34}</string>
                <key>spriteSourceSize</key>
                <string>{365,34}</string>
                <key>textureRect</key>
                <string>{{1,37},{365,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,23}</string>
                <key>spriteSourceSize</key>
                <string>{195,23}</string>
                <key>textureRect</key>
                <string>{{1,111},{195,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,48}</string>
                <key>textureRect</key>
                <string>{{319,180},{45,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yiyongyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,38}</string>
                <key>spriteSourceSize</key>
                <string>{105,38}</string>
                <key>textureRect</key>
                <string>{{373,97},{105,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dog.png</string>
            <key>size</key>
            <string>{506,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1efc865ca12f1dd28ed61aafadb9388:2d232c2ea26584bdf95cc761a3886ee2:d4a7d43944db94624838716d30efa568$</string>
            <key>textureFileName</key>
            <string>dog.png</string>
        </dict>
    </dict>
</plist>
