<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beibao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,29}</string>
                <key>spriteSourceSize</key>
                <string>{56,29}</string>
                <key>textureRect</key>
                <string>{{254,280},{56,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaotimuyangquan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,45}</string>
                <key>spriteSourceSize</key>
                <string>{128,45}</string>
                <key>textureRect</key>
                <string>{{1,183},{128,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cheng5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,28}</string>
                <key>spriteSourceSize</key>
                <string>{127,28}</string>
                <key>textureRect</key>
                <string>{{171,154},{127,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cheng6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,33}</string>
                <key>spriteSourceSize</key>
                <string>{130,33}</string>
                <key>textureRect</key>
                <string>{{1,267},{130,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chongwujindutiaokuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,20}</string>
                <key>spriteSourceSize</key>
                <string>{134,20}</string>
                <key>textureRect</key>
                <string>{{198,112},{134,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chongwuxiangqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,35}</string>
                <key>spriteSourceSize</key>
                <string>{132,35}</string>
                <key>textureRect</key>
                <string>{{1,230},{132,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cwjindutiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,18}</string>
                <key>spriteSourceSize</key>
                <string>{132,18}</string>
                <key>textureRect</key>
                <string>{{198,134},{132,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dikuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,39}</string>
                <key>spriteSourceSize</key>
                <string>{85,39}</string>
                <key>textureRect</key>
                <string>{{403,1},{85,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gexing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,19}</string>
                <key>spriteSourceSize</key>
                <string>{49,19}</string>
                <key>textureRect</key>
                <string>{{440,189},{49,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gexing02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,23}</string>
                <key>spriteSourceSize</key>
                <string>{57,23}</string>
                <key>textureRect</key>
                <string>{{312,280},{57,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gkspjs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,20}</string>
                <key>spriteSourceSize</key>
                <string>{124,20}</string>
                <key>textureRect</key>
                <string>{{135,253},{124,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goumai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,28}</string>
                <key>spriteSourceSize</key>
                <string>{56,28}</string>
                <key>textureRect</key>
                <string>{{420,159},{56,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,18}</string>
                <key>spriteSourceSize</key>
                <string>{140,18}</string>
                <key>textureRect</key>
                <string>{{231,92},{140,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guankanci.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,16}</string>
                <key>spriteSourceSize</key>
                <string>{118,16}</string>
                <key>textureRect</key>
                <string>{{257,189},{118,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guomaici.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,20}</string>
                <key>spriteSourceSize</key>
                <string>{80,20}</string>
                <key>textureRect</key>
                <string>{{256,228},{80,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinrubeibao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,28}</string>
                <key>spriteSourceSize</key>
                <string>{119,28}</string>
                <key>textureRect</key>
                <string>{{135,223},{119,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuoyinqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{39,41}</string>
                <key>textureRect</key>
                <string>{{340,239},{39,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>manwenzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,17}</string>
                <key>spriteSourceSize</key>
                <string>{374,17}</string>
                <key>textureRect</key>
                <string>{{1,73},{374,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mcsyjc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,26}</string>
                <key>spriteSourceSize</key>
                <string>{168,26}</string>
                <key>textureRect</key>
                <string>{{1,136},{168,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mianfeigoumaici.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,20}</string>
                <key>spriteSourceSize</key>
                <string>{121,20}</string>
                <key>textureRect</key>
                <string>{{368,42},{121,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nicheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,19}</string>
                <key>spriteSourceSize</key>
                <string>{49,19}</string>
                <key>textureRect</key>
                <string>{{440,210},{49,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nicheng02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,23}</string>
                <key>spriteSourceSize</key>
                <string>{57,23}</string>
                <key>textureRect</key>
                <string>{{371,214},{57,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,19}</string>
                <key>spriteSourceSize</key>
                <string>{49,19}</string>
                <key>textureRect</key>
                <string>{{430,283},{49,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinji02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,23}</string>
                <key>spriteSourceSize</key>
                <string>{57,23}</string>
                <key>textureRect</key>
                <string>{{371,283},{57,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>putongchouka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,28}</string>
                <key>spriteSourceSize</key>
                <string>{118,28}</string>
                <key>textureRect</key>
                <string>{{300,159},{118,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenquanchouka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,28}</string>
                <key>spriteSourceSize</key>
                <string>{119,28}</string>
                <key>textureRect</key>
                <string>{{133,275},{119,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shiyongzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,23}</string>
                <key>spriteSourceSize</key>
                <string>{61,23}</string>
                <key>textureRect</key>
                <string>{{377,189},{61,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shiyongzhong2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,37}</string>
                <key>spriteSourceSize</key>
                <string>{124,37}</string>
                <key>textureRect</key>
                <string>{{131,184},{124,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shiyongzhong3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,28}</string>
                <key>spriteSourceSize</key>
                <string>{77,28}</string>
                <key>textureRect</key>
                <string>{{261,250},{77,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouyijiacheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,19}</string>
                <key>spriteSourceSize</key>
                <string>{91,19}</string>
                <key>textureRect</key>
                <string>{{257,207},{91,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouyijiacheng02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,23}</string>
                <key>spriteSourceSize</key>
                <string>{106,23}</string>
                <key>textureRect</key>
                <string>{{373,104},{106,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{383,239},{42,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wenzi01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,17}</string>
                <key>spriteSourceSize</key>
                <string>{163,17}</string>
                <key>textureRect</key>
                <string>{{1,164},{163,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,17}</string>
                <key>spriteSourceSize</key>
                <string>{228,17}</string>
                <key>textureRect</key>
                <string>{{1,92},{228,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,34}</string>
                <key>spriteSourceSize</key>
                <string>{400,34}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,34}</string>
                <key>spriteSourceSize</key>
                <string>{365,34}</string>
                <key>textureRect</key>
                <string>{{1,37},{365,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,23}</string>
                <key>spriteSourceSize</key>
                <string>{195,23}</string>
                <key>textureRect</key>
                <string>{{1,111},{195,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,48}</string>
                <key>textureRect</key>
                <string>{{441,231},{45,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yiyongyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,38}</string>
                <key>spriteSourceSize</key>
                <string>{105,38}</string>
                <key>textureRect</key>
                <string>{{377,64},{105,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zailaiyici.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,28}</string>
                <key>spriteSourceSize</key>
                <string>{119,28}</string>
                <key>textureRect</key>
                <string>{{334,129},{119,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dog.png</string>
            <key>size</key>
            <string>{490,310}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab3516e19f414190c5076393b63d662c:8a066efe11da926a7c10737f593f42ab:d4a7d43944db94624838716d30efa568$</string>
            <key>textureFileName</key>
            <string>dog.png</string>
        </dict>
    </dict>
</plist>
