<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,36}</string>
                <key>spriteSourceSize</key>
                <string>{118,36}</string>
                <key>textureRect</key>
                <string>{{1,165},{118,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjijiesuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,17}</string>
                <key>spriteSourceSize</key>
                <string>{66,17}</string>
                <key>textureRect</key>
                <string>{{1,203},{66,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,87}</string>
                <key>spriteSourceSize</key>
                <string>{69,87}</string>
                <key>textureRect</key>
                <string>{{142,1},{69,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gouwo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,39}</string>
                <key>spriteSourceSize</key>
                <string>{61,39}</string>
                <key>textureRect</key>
                <string>{{165,143},{61,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gouwo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,13}</string>
                <key>spriteSourceSize</key>
                <string>{18,13}</string>
                <key>textureRect</key>
                <string>{{204,184},{18,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lijihuanxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,17}</string>
                <key>spriteSourceSize</key>
                <string>{66,17}</string>
                <key>textureRect</key>
                <string>{{69,203},{66,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muyangquanzhihui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,87}</string>
                <key>spriteSourceSize</key>
                <string>{69,87}</string>
                <key>textureRect</key>
                <string>{{142,72},{69,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qipao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,139}</string>
                <key>spriteSourceSize</key>
                <string>{162,139}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shijiandi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,21}</string>
                <key>spriteSourceSize</key>
                <string>{72,21}</string>
                <key>textureRect</key>
                <string>{{142,143},{72,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,37}</string>
                <key>spriteSourceSize</key>
                <string>{28,37}</string>
                <key>textureRect</key>
                <string>{{165,184},{28,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dogs.png</string>
            <key>size</key>
            <string>{230,221}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07c922bbd820c5629cc614c34973791b:a9a150a8fad974253a34ec6f267d0b6b:2a25a1296439797b454460606c7184c1$</string>
            <key>textureFileName</key>
            <string>dogs.png</string>
        </dict>
    </dict>
</plist>
