<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,40}</string>
                <key>spriteSourceSize</key>
                <string>{77,40}</string>
                <key>textureRect</key>
                <string>{{362,375},{77,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daojukuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,20}</string>
                <key>spriteSourceSize</key>
                <string>{108,20}</string>
                <key>textureRect</key>
                <string>{{491,393},{108,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daojuzhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,18}</string>
                <key>spriteSourceSize</key>
                <string>{106,18}</string>
                <key>textureRect</key>
                <string>{{288,603},{106,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangruyangjuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,28}</string>
                <key>spriteSourceSize</key>
                <string>{119,28}</string>
                <key>textureRect</key>
                <string>{{478,174},{119,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{187,180}</string>
                <key>spriteSourceSize</key>
                <string>{189,188}</string>
                <key>textureRect</key>
                <string>{{1,375},{187,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haomuc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,45}</string>
                <key>spriteSourceSize</key>
                <string>{129,45}</string>
                <key>textureRect</key>
                <string>{{190,456},{129,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jcshuju.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,28}</string>
                <key>spriteSourceSize</key>
                <string>{115,28}</string>
                <key>textureRect</key>
                <string>{{190,533},{115,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jdt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,18}</string>
                <key>spriteSourceSize</key>
                <string>{292,18}</string>
                <key>textureRect</key>
                <string>{{458,1},{292,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jdtk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,20}</string>
                <key>spriteSourceSize</key>
                <string>{294,20}</string>
                <key>textureRect</key>
                <string>{{436,1},{294,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kepeiyujiacheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,17}</string>
                <key>spriteSourceSize</key>
                <string>{106,17}</string>
                <key>textureRect</key>
                <string>{{396,604},{106,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,43}</string>
                <key>spriteSourceSize</key>
                <string>{155,43}</string>
                <key>textureRect</key>
                <string>{{190,411},{155,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ljbccl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,19}</string>
                <key>spriteSourceSize</key>
                <string>{111,19}</string>
                <key>textureRect</key>
                <string>{{347,448},{111,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfsb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,25}</string>
                <key>spriteSourceSize</key>
                <string>{97,25}</string>
                <key>textureRect</key>
                <string>{{434,469},{97,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>peiyu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,28}</string>
                <key>spriteSourceSize</key>
                <string>{59,28}</string>
                <key>textureRect</key>
                <string>{{441,363},{59,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>peiyuchengg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,34}</string>
                <key>spriteSourceSize</key>
                <string>{170,34}</string>
                <key>textureRect</key>
                <string>{{190,375},{170,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pyxy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,29}</string>
                <key>spriteSourceSize</key>
                <string>{115,29}</string>
                <key>textureRect</key>
                <string>{{185,563},{115,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengjihechengk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,372}</string>
                <key>spriteSourceSize</key>
                <string>{433,372}</string>
                <key>textureRect</key>
                <string>{{1,1},{433,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengjiyici.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,24}</string>
                <key>spriteSourceSize</key>
                <string>{82,24}</string>
                <key>textureRect</key>
                <string>{{461,503},{82,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengninci.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,24}</string>
                <key>spriteSourceSize</key>
                <string>{99,24}</string>
                <key>textureRect</key>
                <string>{{487,503},{99,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tanxianhuoqucailiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,28}</string>
                <key>spriteSourceSize</key>
                <string>{182,28}</string>
                <key>textureRect</key>
                <string>{{1,557},{182,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txhqcl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,19}</string>
                <key>spriteSourceSize</key>
                <string>{111,19}</string>
                <key>textureRect</key>
                <string>{{321,498},{111,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,26}</string>
                <key>spriteSourceSize</key>
                <string>{110,26}</string>
                <key>textureRect</key>
                <string>{{314,519},{110,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,26}</string>
                <key>spriteSourceSize</key>
                <string>{109,26}</string>
                <key>textureRect</key>
                <string>{{307,547},{109,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,26}</string>
                <key>spriteSourceSize</key>
                <string>{109,26}</string>
                <key>textureRect</key>
                <string>{{302,575},{109,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,26}</string>
                <key>spriteSourceSize</key>
                <string>{108,26}</string>
                <key>textureRect</key>
                <string>{{463,393},{108,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,28}</string>
                <key>spriteSourceSize</key>
                <string>{122,28}</string>
                <key>textureRect</key>
                <string>{{190,503},{122,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,27}</string>
                <key>spriteSourceSize</key>
                <string>{116,31}</string>
                <key>textureRect</key>
                <string>{{321,469},{110,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wzjsdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,25}</string>
                <key>spriteSourceSize</key>
                <string>{171,25}</string>
                <key>textureRect</key>
                <string>{{478,1},{171,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xingshang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,39}</string>
                <key>spriteSourceSize</key>
                <string>{26,39}</string>
                <key>textureRect</key>
                <string>{{413,575},{26,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yijianbuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,28}</string>
                <key>spriteSourceSize</key>
                <string>{114,28}</string>
                <key>textureRect</key>
                <string>{{172,594},{114,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yjchenggong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,34}</string>
                <key>spriteSourceSize</key>
                <string>{169,34}</string>
                <key>textureRect</key>
                <string>{{1,587},{169,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yjxd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,29}</string>
                <key>spriteSourceSize</key>
                <string>{114,29}</string>
                <key>textureRect</key>
                <string>{{347,417},{114,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zongsedikuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,64}</string>
                <key>spriteSourceSize</key>
                <string>{63,64}</string>
                <key>textureRect</key>
                <string>{{436,297},{63,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lvup.png</string>
            <key>size</key>
            <string>{512,623}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f96e2dc01005ef84390ef9018ccfc95b:d0f6b64db8239b588559745da357dc0d:0e8dcc798df29e11a842fe61af5d3009$</string>
            <key>textureFileName</key>
            <string>lvup.png</string>
        </dict>
    </dict>
</plist>
