<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,40}</string>
                <key>spriteSourceSize</key>
                <string>{77,40}</string>
                <key>textureRect</key>
                <string>{{527,289},{77,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daojukuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,20}</string>
                <key>spriteSourceSize</key>
                <string>{108,20}</string>
                <key>textureRect</key>
                <string>{{755,264},{108,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daojuzhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,18}</string>
                <key>spriteSourceSize</key>
                <string>{106,18}</string>
                <key>textureRect</key>
                <string>{{777,264},{106,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{187,180}</string>
                <key>spriteSourceSize</key>
                <string>{189,188}</string>
                <key>textureRect</key>
                <string>{{478,1},{187,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haomuc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,45}</string>
                <key>spriteSourceSize</key>
                <string>{129,45}</string>
                <key>textureRect</key>
                <string>{{660,46},{129,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jcshuju.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,28}</string>
                <key>spriteSourceSize</key>
                <string>{115,28}</string>
                <key>textureRect</key>
                <string>{{699,234},{115,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jdt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,18}</string>
                <key>spriteSourceSize</key>
                <string>{292,18}</string>
                <key>textureRect</key>
                <string>{{458,1},{292,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jdtk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,20}</string>
                <key>spriteSourceSize</key>
                <string>{294,20}</string>
                <key>textureRect</key>
                <string>{{436,1},{294,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuang01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,43}</string>
                <key>spriteSourceSize</key>
                <string>{155,43}</string>
                <key>textureRect</key>
                <string>{{660,1},{155,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ljbccl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,19}</string>
                <key>spriteSourceSize</key>
                <string>{111,19}</string>
                <key>textureRect</key>
                <string>{{707,77},{111,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfsb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,25}</string>
                <key>spriteSourceSize</key>
                <string>{97,25}</string>
                <key>textureRect</key>
                <string>{{504,190},{97,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>peiyuchengg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,34}</string>
                <key>spriteSourceSize</key>
                <string>{170,34}</string>
                <key>textureRect</key>
                <string>{{596,190},{170,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pyxy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,29}</string>
                <key>spriteSourceSize</key>
                <string>{115,29}</string>
                <key>textureRect</key>
                <string>{{668,177},{115,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengjihechengk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,372}</string>
                <key>spriteSourceSize</key>
                <string>{433,372}</string>
                <key>textureRect</key>
                <string>{{1,1},{433,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengjiyici.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,24}</string>
                <key>spriteSourceSize</key>
                <string>{82,24}</string>
                <key>textureRect</key>
                <string>{{501,291},{82,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengninci.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,24}</string>
                <key>spriteSourceSize</key>
                <string>{99,24}</string>
                <key>textureRect</key>
                <string>{{478,190},{99,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txhqcl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,19}</string>
                <key>spriteSourceSize</key>
                <string>{111,19}</string>
                <key>textureRect</key>
                <string>{{707,98},{111,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,26}</string>
                <key>spriteSourceSize</key>
                <string>{110,26}</string>
                <key>textureRect</key>
                <string>{{707,148},{110,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,26}</string>
                <key>spriteSourceSize</key>
                <string>{109,26}</string>
                <key>textureRect</key>
                <string>{{707,176},{109,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,26}</string>
                <key>spriteSourceSize</key>
                <string>{109,26}</string>
                <key>textureRect</key>
                <string>{{699,264},{109,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,26}</string>
                <key>spriteSourceSize</key>
                <string>{108,26}</string>
                <key>textureRect</key>
                <string>{{727,264},{108,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,28}</string>
                <key>spriteSourceSize</key>
                <string>{122,28}</string>
                <key>textureRect</key>
                <string>{{699,204},{122,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,27}</string>
                <key>spriteSourceSize</key>
                <string>{116,31}</string>
                <key>textureRect</key>
                <string>{{707,119},{110,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wzjsdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,25}</string>
                <key>spriteSourceSize</key>
                <string>{171,25}</string>
                <key>textureRect</key>
                <string>{{569,190},{171,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yjchenggong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,34}</string>
                <key>spriteSourceSize</key>
                <string>{169,34}</string>
                <key>textureRect</key>
                <string>{{632,190},{169,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yjxd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,29}</string>
                <key>spriteSourceSize</key>
                <string>{114,29}</string>
                <key>textureRect</key>
                <string>{{707,46},{114,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zongsedikuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,64}</string>
                <key>spriteSourceSize</key>
                <string>{63,64}</string>
                <key>textureRect</key>
                <string>{{436,297},{63,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lvup.png</string>
            <key>size</key>
            <string>{822,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d793fc83e358a124666fc1a6b827e5d5:1ea19d75409c20fc86747bdc34bbb4f3:0e8dcc798df29e11a842fe61af5d3009$</string>
            <key>textureFileName</key>
            <string>lvup.png</string>
        </dict>
    </dict>
</plist>
