<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{245,643},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,63}</string>
                <key>spriteSourceSize</key>
                <string>{70,63}</string>
                <key>textureRect</key>
                <string>{{328,791},{70,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,84}</string>
                <key>spriteSourceSize</key>
                <string>{76,84}</string>
                <key>textureRect</key>
                <string>{{755,663},{76,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,58}</string>
                <key>spriteSourceSize</key>
                <string>{61,58}</string>
                <key>textureRect</key>
                <string>{{400,576},{61,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_luyangmaotubiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,107}</string>
                <key>spriteSourceSize</key>
                <string>{82,107}</string>
                <key>textureRect</key>
                <string>{{900,149},{82,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_qd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,79}</string>
                <key>spriteSourceSize</key>
                <string>{67,79}</string>
                <key>textureRect</key>
                <string>{{607,566},{67,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,83}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{522,149},{80,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,51}</string>
                <key>spriteSourceSize</key>
                <string>{44,51}</string>
                <key>textureRect</key>
                <string>{{833,665},{44,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,84}</string>
                <key>spriteSourceSize</key>
                <string>{72,84}</string>
                <key>textureRect</key>
                <string>{{688,565},{72,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,80}</string>
                <key>spriteSourceSize</key>
                <string>{72,80}</string>
                <key>textureRect</key>
                <string>{{850,426},{72,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_shouyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,81}</string>
                <key>spriteSourceSize</key>
                <string>{94,81}</string>
                <key>textureRect</key>
                <string>{{522,231},{94,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_skill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{96,98}</string>
                <key>textureRect</key>
                <string>{{522,327},{96,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_task_lingqu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,26}</string>
                <key>spriteSourceSize</key>
                <string>{67,26}</string>
                <key>textureRect</key>
                <string>{{259,830},{67,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,58}</string>
                <key>spriteSourceSize</key>
                <string>{61,58}</string>
                <key>textureRect</key>
                <string>{{460,576},{61,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_zb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,80}</string>
                <key>spriteSourceSize</key>
                <string>{92,80}</string>
                <key>textureRect</key>
                <string>{{919,553},{92,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_zuanshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{834,569},{94,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,79}</string>
                <key>spriteSourceSize</key>
                <string>{97,79}</string>
                <key>textureRect</key>
                <string>{{620,327},{97,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,79}</string>
                <key>spriteSourceSize</key>
                <string>{97,79}</string>
                <key>textureRect</key>
                <string>{{701,327},{97,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,79}</string>
                <key>spriteSourceSize</key>
                <string>{97,79}</string>
                <key>textureRect</key>
                <string>{{782,327},{97,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,79}</string>
                <key>spriteSourceSize</key>
                <string>{97,79}</string>
                <key>textureRect</key>
                <string>{{755,749},{97,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,43}</string>
                <key>spriteSourceSize</key>
                <string>{45,43}</string>
                <key>textureRect</key>
                <string>{{836,787},{45,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_down0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{88,143}</string>
                <key>spriteSourceSize</key>
                <string>{90,145}</string>
                <key>textureRect</key>
                <string>{{393,643},{88,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_down1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{88,143}</string>
                <key>spriteSourceSize</key>
                <string>{90,145}</string>
                <key>textureRect</key>
                <string>{{400,431},{88,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_down2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{88,143}</string>
                <key>spriteSourceSize</key>
                <string>{90,145}</string>
                <key>textureRect</key>
                <string>{{490,431},{88,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_down3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{88,143}</string>
                <key>spriteSourceSize</key>
                <string>{90,145}</string>
                <key>textureRect</key>
                <string>{{755,149},{88,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_lvup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,280}</string>
                <key>spriteSourceSize</key>
                <string>{120,280}</string>
                <key>textureRect</key>
                <string>{{400,149},{120,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_lvup2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,270}</string>
                <key>spriteSourceSize</key>
                <string>{215,270}</string>
                <key>textureRect</key>
                <string>{{483,639},{215,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_mao1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{80,86}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{605,239},{80,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_mao2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{687,239},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_mao3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{767,239},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_mao4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{847,239},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_mao5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{924,393},{78,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_mao6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,85}</string>
                <key>spriteSourceSize</key>
                <string>{78,85}</string>
                <key>textureRect</key>
                <string>{{927,233},{78,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_mao7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,85}</string>
                <key>spriteSourceSize</key>
                <string>{78,85}</string>
                <key>textureRect</key>
                <string>{{927,313},{78,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_mao8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,85}</string>
                <key>spriteSourceSize</key>
                <string>{78,85}</string>
                <key>textureRect</key>
                <string>{{924,473},{78,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_up0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{88,137}</string>
                <key>spriteSourceSize</key>
                <string>{90,145}</string>
                <key>textureRect</key>
                <string>{{607,149},{88,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_up1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{88,137}</string>
                <key>spriteSourceSize</key>
                <string>{90,145}</string>
                <key>textureRect</key>
                <string>{{580,427},{88,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_up2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{88,137}</string>
                <key>spriteSourceSize</key>
                <string>{90,145}</string>
                <key>textureRect</key>
                <string>{{670,426},{88,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_up3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{88,137}</string>
                <key>spriteSourceSize</key>
                <string>{90,145}</string>
                <key>textureRect</key>
                <string>{{760,426},{88,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,58}</string>
                <key>spriteSourceSize</key>
                <string>{96,58}</string>
                <key>textureRect</key>
                <string>{{774,565},{96,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dututiaokuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,48}</string>
                <key>spriteSourceSize</key>
                <string>{199,48}</string>
                <key>textureRect</key>
                <string>{{1,643},{199,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flycoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,59}</string>
                <key>spriteSourceSize</key>
                <string>{85,59}</string>
                <key>textureRect</key>
                <string>{{520,576},{85,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guangxiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{879,665},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,397}</string>
                <key>spriteSourceSize</key>
                <string>{640,397}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huoche.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,59}</string>
                <key>spriteSourceSize</key>
                <string>{67,59}</string>
                <key>textureRect</key>
                <string>{{850,508},{67,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jindutiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,35}</string>
                <key>spriteSourceSize</key>
                <string>{188,35}</string>
                <key>textureRect</key>
                <string>{{178,643},{188,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lunzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{215,807},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,13}</string>
                <key>spriteSourceSize</key>
                <string>{30,13}</string>
                <key>textureRect</key>
                <string>{{51,836},{30,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>probg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,13}</string>
                <key>spriteSourceSize</key>
                <string>{30,13}</string>
                <key>textureRect</key>
                <string>{{83,836},{30,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tanxian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,81}</string>
                <key>spriteSourceSize</key>
                <string>{68,81}</string>
                <key>textureRect</key>
                <string>{{400,788},{68,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,146}</string>
                <key>spriteSourceSize</key>
                <string>{612,146}</string>
                <key>textureRect</key>
                <string>{{400,1},{612,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,125}</string>
                <key>spriteSourceSize</key>
                <string>{191,125}</string>
                <key>textureRect</key>
                <string>{{51,643},{191,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tuiche.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{863,327},{81,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_nclv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,22}</string>
                <key>spriteSourceSize</key>
                <string>{79,22}</string>
                <key>textureRect</key>
                <string>{{178,833},{79,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_nextlv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,21}</string>
                <key>spriteSourceSize</key>
                <string>{59,21}</string>
                <key>textureRect</key>
                <string>{{239,807},{59,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiayiji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,28}</string>
                <key>spriteSourceSize</key>
                <string>{162,28}</string>
                <key>textureRect</key>
                <string>{{215,643},{162,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1013,857}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:424147b5a0883d23bc6b2b623363fe58:7140334137deaf1893d5a8f1beb762f5:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
