<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>di1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,170}</string>
                <key>spriteSourceSize</key>
                <string>{138,170}</string>
                <key>textureRect</key>
                <string>{{1,192},{138,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>di2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,170}</string>
                <key>spriteSourceSize</key>
                <string>{138,170}</string>
                <key>textureRect</key>
                <string>{{1,364},{138,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>di3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,170}</string>
                <key>spriteSourceSize</key>
                <string>{138,170}</string>
                <key>textureRect</key>
                <string>{{141,192},{138,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>di4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,170}</string>
                <key>spriteSourceSize</key>
                <string>{138,170}</string>
                <key>textureRect</key>
                <string>{{141,364},{138,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>di5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,170}</string>
                <key>spriteSourceSize</key>
                <string>{138,170}</string>
                <key>textureRect</key>
                <string>{{281,192},{138,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>di6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,170}</string>
                <key>spriteSourceSize</key>
                <string>{138,170}</string>
                <key>textureRect</key>
                <string>{{281,364},{138,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>di7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,189}</string>
                <key>spriteSourceSize</key>
                <string>{463,189}</string>
                <key>textureRect</key>
                <string>{{1,1},{463,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,25}</string>
                <key>spriteSourceSize</key>
                <string>{74,25}</string>
                <key>textureRect</key>
                <string>{{123,536},{74,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,25}</string>
                <key>spriteSourceSize</key>
                <string>{74,25}</string>
                <key>textureRect</key>
                <string>{{421,388},{74,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_2bei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,28}</string>
                <key>spriteSourceSize</key>
                <string>{120,28}</string>
                <key>textureRect</key>
                <string>{{1,536},{120,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,25}</string>
                <key>spriteSourceSize</key>
                <string>{74,25}</string>
                <key>textureRect</key>
                <string>{{199,536},{74,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,25}</string>
                <key>spriteSourceSize</key>
                <string>{74,25}</string>
                <key>textureRect</key>
                <string>{{275,536},{74,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,25}</string>
                <key>spriteSourceSize</key>
                <string>{74,25}</string>
                <key>textureRect</key>
                <string>{{421,464},{74,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,25}</string>
                <key>spriteSourceSize</key>
                <string>{74,25}</string>
                <key>textureRect</key>
                <string>{{448,388},{74,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,25}</string>
                <key>spriteSourceSize</key>
                <string>{74,25}</string>
                <key>textureRect</key>
                <string>{{448,464},{74,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_lingqu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,30}</string>
                <key>spriteSourceSize</key>
                <string>{63,30}</string>
                <key>textureRect</key>
                <string>{{351,536},{63,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_qiandao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,45}</string>
                <key>spriteSourceSize</key>
                <string>{86,45}</string>
                <key>textureRect</key>
                <string>{{421,300},{86,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yilingqu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,50}</string>
                <key>spriteSourceSize</key>
                <string>{106,50}</string>
                <key>textureRect</key>
                <string>{{421,192},{106,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qiandao.png</string>
            <key>size</key>
            <string>{474,567}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cb2611282529401b38beb023197ba7c:21c74808dcd2da2fb37a66f8adde06f7:03eaca89a169f64d7554b51e51218aad$</string>
            <key>textureFileName</key>
            <string>qiandao.png</string>
        </dict>
    </dict>
</plist>
