<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baiditongyong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{72,68}</string>
                <key>textureRect</key>
                <string>{{470,1},{72,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,137}</string>
                <key>spriteSourceSize</key>
                <string>{90,137}</string>
                <key>textureRect</key>
                <string>{{1,124},{90,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,137}</string>
                <key>spriteSourceSize</key>
                <string>{90,137}</string>
                <key>textureRect</key>
                <string>{{192,1},{90,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,137}</string>
                <key>spriteSourceSize</key>
                <string>{90,137}</string>
                <key>textureRect</key>
                <string>{{331,1},{90,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,137}</string>
                <key>spriteSourceSize</key>
                <string>{90,137}</string>
                <key>textureRect</key>
                <string>{{192,93},{90,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,88}</string>
                <key>spriteSourceSize</key>
                <string>{76,88}</string>
                <key>textureRect</key>
                <string>{{448,140},{76,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_lingqu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,33}</string>
                <key>spriteSourceSize</key>
                <string>{86,33}</string>
                <key>textureRect</key>
                <string>{{140,124},{86,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_ylq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,33}</string>
                <key>spriteSourceSize</key>
                <string>{86,33}</string>
                <key>textureRect</key>
                <string>{{125,216},{86,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaoguang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{175,124},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangdik.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,34}</string>
                <key>spriteSourceSize</key>
                <string>{122,34}</string>
                <key>textureRect</key>
                <string>{{1,216},{122,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liwu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{189,121}</string>
                <key>spriteSourceSize</key>
                <string>{189,123}</string>
                <key>textureRect</key>
                <string>{{1,1},{189,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paimingdejiangli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,29}</string>
                <key>spriteSourceSize</key>
                <string>{115,29}</string>
                <key>textureRect</key>
                <string>{{331,140},{115,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quik.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{292,185},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{46,56}</string>
                <key>spriteSourceSize</key>
                <string>{50,62}</string>
                <key>textureRect</key>
                <string>{{470,75},{46,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{46,56}</string>
                <key>spriteSourceSize</key>
                <string>{50,62}</string>
                <key>textureRect</key>
                <string>{{321,202},{46,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{46,56}</string>
                <key>spriteSourceSize</key>
                <string>{50,62}</string>
                <key>textureRect</key>
                <string>{{379,202},{46,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shangbangfuhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,29}</string>
                <key>spriteSourceSize</key>
                <string>{115,29}</string>
                <key>textureRect</key>
                <string>{{331,171},{115,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,45}</string>
                <key>spriteSourceSize</key>
                <string>{130,45}</string>
                <key>textureRect</key>
                <string>{{331,93},{130,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tupojiangli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,29}</string>
                <key>spriteSourceSize</key>
                <string>{115,29}</string>
                <key>textureRect</key>
                <string>{{175,185},{115,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_weiwanc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{64,23}</string>
                <key>spriteSourceSize</key>
                <string>{86,33}</string>
                <key>textureRect</key>
                <string>{{213,216},{64,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{292,215},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rank.png</string>
            <key>size</key>
            <string>{539,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0080f6477a17c2066bee469589644da:17b95a2af968c6475f89a9a4e50a776b:74cc68f98beed4c8a96adb0c26f30229$</string>
            <key>textureFileName</key>
            <string>rank.png</string>
        </dict>
    </dict>
</plist>
