<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caijiche.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,29}</string>
                <key>spriteSourceSize</key>
                <string>{79,29}</string>
                <key>textureRect</key>
                <string>{{281,133},{79,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carh_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,57}</string>
                <key>spriteSourceSize</key>
                <string>{65,57}</string>
                <key>textureRect</key>
                <string>{{645,133},{65,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carh_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,65}</string>
                <key>spriteSourceSize</key>
                <string>{74,65}</string>
                <key>textureRect</key>
                <string>{{216,177},{74,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>carh_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,76}</string>
                <key>spriteSourceSize</key>
                <string>{87,76}</string>
                <key>textureRect</key>
                <string>{{283,164},{87,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>carv_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,60}</string>
                <key>spriteSourceSize</key>
                <string>{83,60}</string>
                <key>textureRect</key>
                <string>{{361,164},{83,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>carv_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,65}</string>
                <key>spriteSourceSize</key>
                <string>{89,65}</string>
                <key>textureRect</key>
                <string>{{578,133},{89,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>carv_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,73}</string>
                <key>spriteSourceSize</key>
                <string>{100,73}</string>
                <key>textureRect</key>
                <string>{{503,133},{100,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chekuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,204}</string>
                <key>spriteSourceSize</key>
                <string>{138,204}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goumaibutton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,45}</string>
                <key>spriteSourceSize</key>
                <string>{126,45}</string>
                <key>textureRect</key>
                <string>{{1,207},{126,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guankanshipin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{479,130}</string>
                <key>spriteSourceSize</key>
                <string>{479,130}</string>
                <key>textureRect</key>
                <string>{{281,1},{479,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,28}</string>
                <key>spriteSourceSize</key>
                <string>{57,28}</string>
                <key>textureRect</key>
                <string>{{141,177},{57,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinbikuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,174}</string>
                <key>spriteSourceSize</key>
                <string>{138,174}</string>
                <key>textureRect</key>
                <string>{{141,1},{138,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sdjinbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{78,82}</string>
                <key>textureRect</key>
                <string>{{423,164},{78,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shangdian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,45}</string>
                <key>spriteSourceSize</key>
                <string>{85,45}</string>
                <key>textureRect</key>
                <string>{{129,207},{85,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yunshuche.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,29}</string>
                <key>spriteSourceSize</key>
                <string>{79,29}</string>
                <key>textureRect</key>
                <string>{{362,133},{79,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{761,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5967c64e971632f88a1b3ffe43c1e32c:4a2487c321f2996496ef7ffd2ec9d21b:0c3382addd4ddbdf7ff3d469abaa2ba6$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
