<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diandian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,12}</string>
                <key>spriteSourceSize</key>
                <string>{490,12}</string>
                <key>textureRect</key>
                <string>{{1,240},{490,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haoyoujiasu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,27}</string>
                <key>spriteSourceSize</key>
                <string>{231,27}</string>
                <key>textureRect</key>
                <string>{{690,175},{231,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haoyouzhuli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,45}</string>
                <key>spriteSourceSize</key>
                <string>{170,45}</string>
                <key>textureRect</key>
                <string>{{518,175},{170,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{923,138},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jindukuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,316}</string>
                <key>spriteSourceSize</key>
                <string>{172,316}</string>
                <key>textureRect</key>
                <string>{{518,1},{172,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jindutiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,302}</string>
                <key>spriteSourceSize</key>
                <string>{24,302}</string>
                <key>textureRect</key>
                <string>{{518,222},{24,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiuzhuhaoyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,25}</string>
                <key>spriteSourceSize</key>
                <string>{103,25}</string>
                <key>textureRect</key>
                <string>{{987,138},{103,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,135}</string>
                <key>spriteSourceSize</key>
                <string>{85,135}</string>
                <key>textureRect</key>
                <string>{{923,1},{85,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shourufanbei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{515,237}</string>
                <key>spriteSourceSize</key>
                <string>{515,237}</string>
                <key>textureRect</key>
                <string>{{1,1},{515,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tanchuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,51}</string>
                <key>spriteSourceSize</key>
                <string>{130,51}</string>
                <key>textureRect</key>
                <string>{{822,204},{130,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,79}</string>
                <key>spriteSourceSize</key>
                <string>{80,79}</string>
                <key>textureRect</key>
                <string>{{836,1},{80,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,79}</string>
                <key>spriteSourceSize</key>
                <string>{80,79}</string>
                <key>textureRect</key>
                <string>{{836,82},{80,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shouyifanbei.png</string>
            <key>size</key>
            <string>{1013,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c90bd4c5da578c796b4f9dee9a2fa7bd:8070d17a49b3cd3d8b3c4d25544912ad:ea98b8e9b3db2685e7c0aabd4241988b$</string>
            <key>textureFileName</key>
            <string>shouyifanbei.png</string>
        </dict>
    </dict>
</plist>
