<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{360,1},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{211,500},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{211,589},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caobian01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,13}</string>
                <key>spriteSourceSize</key>
                <string>{61,13}</string>
                <key>textureRect</key>
                <string>{{49,662},{61,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caobian02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,27}</string>
                <key>spriteSourceSize</key>
                <string>{61,27}</string>
                <key>textureRect</key>
                <string>{{358,90},{61,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caoping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,51}</string>
                <key>spriteSourceSize</key>
                <string>{130,51}</string>
                <key>textureRect</key>
                <string>{{305,26},{130,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,18}</string>
                <key>spriteSourceSize</key>
                <string>{21,18}</string>
                <key>textureRect</key>
                <string>{{387,133},{21,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{471,12}</string>
                <key>spriteSourceSize</key>
                <string>{471,12}</string>
                <key>textureRect</key>
                <string>{{305,194},{471,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,29}</string>
                <key>spriteSourceSize</key>
                <string>{59,29}</string>
                <key>textureRect</key>
                <string>{{380,629},{59,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fxtili.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,23}</string>
                <key>spriteSourceSize</key>
                <string>{357,23}</string>
                <key>textureRect</key>
                <string>{{1,1},{357,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,30}</string>
                <key>spriteSourceSize</key>
                <string>{59,30}</string>
                <key>textureRect</key>
                <string>{{319,629},{59,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,25}</string>
                <key>spriteSourceSize</key>
                <string>{49,25}</string>
                <key>textureRect</key>
                <string>{{408,358},{49,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{319,536},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mbjl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,46}</string>
                <key>spriteSourceSize</key>
                <string>{170,46}</string>
                <key>textureRect</key>
                <string>{{1,500},{170,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mubaojl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{49,500},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mubiaojiangli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,17}</string>
                <key>spriteSourceSize</key>
                <string>{109,17}</string>
                <key>textureRect</key>
                <string>{{319,339},{109,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>queding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{403,567},{60,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tanxian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,45}</string>
                <key>spriteSourceSize</key>
                <string>{87,45}</string>
                <key>textureRect</key>
                <string>{{408,409},{87,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tanxianwenzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,17}</string>
                <key>spriteSourceSize</key>
                <string>{200,17}</string>
                <key>textureRect</key>
                <string>{{436,194},{200,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tili.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,67}</string>
                <key>spriteSourceSize</key>
                <string>{41,67}</string>
                <key>textureRect</key>
                <string>{{387,90},{41,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,35}</string>
                <key>spriteSourceSize</key>
                <string>{67,35}</string>
                <key>textureRect</key>
                <string>{{408,498},{67,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tishi_game.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,115}</string>
                <key>spriteSourceSize</key>
                <string>{143,115}</string>
                <key>textureRect</key>
                <string>{{319,194},{143,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txjl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,302}</string>
                <key>spriteSourceSize</key>
                <string>{472,302}</string>
                <key>textureRect</key>
                <string>{{1,26},{472,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txjs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,34}</string>
                <key>spriteSourceSize</key>
                <string>{144,34}</string>
                <key>textureRect</key>
                <string>{{305,158},{144,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xianjing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{319,358},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{407,133},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xycrk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{319,447},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tanxian.png</string>
            <key>size</key>
            <string>{455,677}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb0427317aa6d8251cd7193c23ea517d:f68d8ce8002907341a1def9376692368:012f08863eacee35e5cdb8b32cc7c6bc$</string>
            <key>textureFileName</key>
            <string>tanxian.png</string>
        </dict>
    </dict>
</plist>
