<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cut_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,238},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,238},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,822},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,676},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,530},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,384},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,238},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,120},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,120},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,120},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,120},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,120},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,850},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,704},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,558},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,412},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,266},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,120},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>cut_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>grow1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,498},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>grow1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,517},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>grow1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,512},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>grow1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,512},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>grow1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,455},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>grow1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,455},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>grow1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,427},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>grow1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,427},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>grow1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,427},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>grow1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,446},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>grow1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,441},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>grow1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,441},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>grow1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,384},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>grow1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,384},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>grow1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,356},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>grow1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,356},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>grow1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,356},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>grow1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,370},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>grow1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,370},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>grow1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,370},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>grow1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,313},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>grow1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,313},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>grow2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,304},{76,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,64}}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>grow2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,304},{76,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,64}}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>grow2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,238},{76,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,64}}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>grow2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,238},{76,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,64}}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>grow2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,238},{76,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,64}}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>grow2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,304},{76,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,64}}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>grow2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,304},{76,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,64}}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>hold_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,238},{73,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,99}}</string>
                <key>sourceSize</key>
                <string>{73,99}</string>
            </dict>
            <key>hold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,238},{73,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,99}}</string>
                <key>sourceSize</key>
                <string>{73,99}</string>
            </dict>
            <key>hold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,238},{73,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,99}}</string>
                <key>sourceSize</key>
                <string>{73,99}</string>
            </dict>
            <key>hold_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,238},{73,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,99}}</string>
                <key>sourceSize</key>
                <string>{73,99}</string>
            </dict>
            <key>hold_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,238},{73,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,99}}</string>
                <key>sourceSize</key>
                <string>{73,99}</string>
            </dict>
            <key>hold_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,238},{73,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,99}}</string>
                <key>sourceSize</key>
                <string>{73,99}</string>
            </dict>
            <key>hold_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,238},{73,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,99}}</string>
                <key>sourceSize</key>
                <string>{73,99}</string>
            </dict>
            <key>hold_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,238},{73,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,99}}</string>
                <key>sourceSize</key>
                <string>{73,99}</string>
            </dict>
            <key>hold_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,238},{73,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,99}}</string>
                <key>sourceSize</key>
                <string>{73,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheep3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:995452fe56334901c7fbaa6353f5b437$</string>
            <key>textureFileName</key>
            <string>sheep3.png</string>
        </dict>
    </dict>
</plist>
